<h1>Welcome</h1>
<%= @letters.join(" ") %>
  <form action="/score" method="post">
    <input type="text" name="word" label="What is your longest word you can find?">
<!--     <input type="hidden" name="letters" value=<%= @letters.join(",")%>>
 -->
    <input type="submit" value="Play">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>

  </form>

